<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbsj.ordermatsta_client"
    android:targetSandboxVersion="2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Login.Kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.OrderCompleteActivity"></activity>
        <activity android:name=".Activity.ThumbnailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.OrderActivity" />
        <activity android:name=".Activity.StoreActivity" />
        <activity android:name=".Activity.PayActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.QRCode.QRCode" />
        <activity android:name=".Activity.QRCode.MainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakaoLoginKey" />

        <service
            android:name=".Util.FirebaseInstanceIDServic"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>